.gridContainer {
  width: 900px;
  height: 500px;
  /* box-shadow: 0 0 10px rgba(170, 6, 6, 0.65); */
  margin: 10px auto;
  display: grid;
  grid-template-rows: 70px 30px 400px;
}
.row1 {
  /* text-align: center; */
  padding: 10px;
  position: relative;
  left: 20px;
}
.row2 {
  display: flex;
  text-align: center;
}
.row3 {
  display: flex;
}

.row2-col1 {
  width: 60%;
}
.row2-col2 {
  width: 20%;
}
.row3-col1 {
  width: 30%;
  padding: 20px;
}
.row3-col2 {
  width: 70%;
  padding: 20px;
}

.row2-col2 button {
  padding: 3px 40px;
}
